* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    min-height: 100%;
    background-color: $veryLightGrey;
    padding: 50px 0;
    position: relative;
}

p {
    line-height: 1.5rem;
    color: $greyishBlue;
}

h1,h2,h3,h4,h5,h6 {
    color: $darkBlue;
    margin: 0;
    margin-bottom: 10px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    display: inline-block;
    max-width: 100%;
}

button {
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
    border: none;
    color: $white;
    
    @media screen and (min-width: 400px) {
        padding: 10px 25px;
    }
}

button:hover {
    cursor: pointer;
    background-color: lighten($color: $moderateBlue, $amount: 20%);
}

// Replies
.replies {
    margin-left: 20px;
    padding-left: 20px;
    border-left: 3px solid $lightGrey;

    @media screen and (min-width: 450px) {
        margin-left: 40px;
        padding-left: 40px;
    }
}

.primary-btn {
    background-color: $moderateBlue;
}

.secondary-btn {
    background-color: $greyishBlue;

    &:hover {
        background-color: darken($color: $greyishBlue, $amount: 20%);
    }
}

.danger-btn {
    background-color: $softRed;

    &:hover {
        background-color: darken($color: $softRed, $amount: 20%);
    }
}

textarea {
    min-width: 100%;
    min-height: 100px;
    resize: none;
    color: $greyishBlue;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid $lightGrey;
    caret-color: $moderateBlue;
    line-height: 1.15rem;
    margin: 10px 0;

    &:focus {
        outline: none;
        border: 1px $moderateBlue solid;
    }
}