html {
    height: 100%;
}

body {
    font-family: 'Rubik', sans-serif;
    min-height: 100%;
    background-color: $veryLightGrey;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 20px;
}

img {
    display: inline-block;
    max-width: 100%;
}

// Comments Section
.comments {
    padding: 50px 0;
}