// Comment
.comment, .comment-editor {
    background-color: $white;
    padding: 20px;
    border-radius: 10px;
    color: $greyishBlue;
    position: relative;
}

.comment {
    margin-bottom: 15px;

    @media screen and (min-width: 600px) {
        display: flex;
        flex-direction: row-reverse;
        align-items: flex-start;
    }
}

.username {
    color: $darkBlue;
    font-weight: 700;
    margin: 0 15px;
}

.user-actions {
    font-weight: 700;
    color: $moderateBlue;
    position: absolute;
    right: 20px;
    bottom: 30px;

    @media screen and (min-width: 600px) {
        top: 30px;
        bottom: auto;
    }

    img {
        margin-right: 5px;
    }

    .delete {
        color: $softRed;
    }

    &>span {
        margin-left: 15px;

        &:hover {
            cursor: pointer;
        }
    }
}

.comment-details {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
}