// Comment

.comment {
    background-color: $white;
    padding: 20px;
    border-radius: 10px;
    color: $greyishBlue;
}

.username {
    color: $darkBlue;
    font-weight: 700;
}

.user-actions {
    font-weight: 700;
    color: $moderateBlue;
}