// Comment

.comment {
    background-color: $white;
    padding: 20px;
    border-radius: 10px;
    color: $greyishBlue;
    position: relative;
}

.username {
    color: $darkBlue;
    font-weight: 700;
    margin: 0 15px;
}

.user-actions {
    font-weight: 700;
    color: $moderateBlue;
    position: absolute;
    right: 20px;
    bottom: 30px;
}

.comment-details {
    display: flex;
    align-items: center;
}

.avatar {
    width: 40px;
}