// Primary
$moderateBlue: #5457b6;
$softRed: #ed6468;
$lightGreyishBlue: #c3c4ef;
$paleRed: #ffb8bb;

// Nuetral
$darkBlue: #324152;
$greyishBlue: #67727e;
$lightGrey: #eaecf1;
$veryLightGrey: #f5f6fa;
$white: #ffffff;