.vote {
    background-color: $veryLightGrey;
    color: $moderateBlue;
    display: inline-block;
    border-radius: 8px;
    text-align: center;

    @media screen and (min-width: 600px) {
        margin-right: 20px;
    }

    button {
        color: $lightGreyishBlue;
        outline: none;
        border: none;
        background-color: transparent;
        padding: 10px 10px;
    }
}